// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.eventHead{
   background:  linear-gradient(rgb(252,227,108),rgb(255,143,77)) ;
}

.index{
    margin-left:30px;
    font-family: cursive;
    width:80%;
    margin:0px auto;
    .upcoming{
       float:right
    }
    h3{
        color:rgb(160, 67, 13);
    }
    ul{
        
        font-size:20px;
      li  a {
            color:rgb(160, 67, 13);
            font-size:26px;
        }
    }
}